Football
.vscode/settings.json
build/*

resources/audio/bleep.mp3
resources/audio/bleep.wav
resources/audio/breakout.mp3
resources/audio/powerup.wav
resources/audio/solid.wav
resources/fonts/Antonio-Bold.ttf
resources/fonts/Antonio-Light.ttf
resources/fonts/Antonio-Regular.ttf
resources/fonts/OCRAEXT.TTF
resources/fonts/SIL Open Font License.txt
resources/levels/four.lvl
resources/levels/one.lvl
resources/levels/three.lvl
resources/levels/two.lvl
resources/note_imgs/Page1.jpg
resources/note_imgs/Page2.jpg
resources/textures/block_solid.png
resources/textures/bricks2_disp.jpg
resources/textures/bricks2_normal.jpg
resources/textures/bricks2.jpg
resources/textures/brickwall_normal.jpg
resources/textures/brickwall.jpg
resources/textures/concreteTexture.png
resources/textures/container.jpg
resources/textures/container2_specular_colored.png
resources/textures/container2_specular.png
resources/textures/container2.png
resources/textures/grass.png
resources/textures/marble.jpg
resources/textures/matrix.jpg
resources/textures/metal.png
resources/textures/paddle.png
resources/textures/particle.png
resources/textures/powerup_chaos.png
resources/textures/powerup_confuse.png
resources/textures/powerup_increase.png
resources/textures/powerup_passthrough.png
resources/textures/powerup_speed.png
resources/textures/powerup_sticky.png
resources/textures/toy_box_diffuse.png
resources/textures/toy_box_disp.png
resources/textures/toy_box_normal.png
resources/textures/window.png
resources/textures/wood.png
